

main {
  
  display: grid;
  height: 100%;
  /* background-color: purple; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 1fr 1fr;
  grid-template-areas: 
      "Header Header Header"
      "Content . CTA"
      "Footer Footer Footer";
  background: linear-gradient( rgba(0, 0, 0, 0.041) 100%, rgba(0, 0, 0, 0.5)100%),url(./assets/sunflower.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  grid-area: Header;
}

.CTA {
  grid-area: CTA;
}

.content {
  grid-area: Content;
}

.Footer {
  grid-area: Footer;
  display: grid;
  align-items: center;
}
